/* colors */

.dark-purple {
    background-color: #881459;
}

.light-purple {
    background-color: #B04F8E;
}

.dark-yellow {
    background-color: #D9BB35;
}

.beige {
    background-color: #FDE190;
}

.orange {
    background-color: #F5C03F;
}

/* text */

strong {
    font-weight: bold !important;
    color: #881459
}

/* li, div, p, a {
    color: #FDE190;
} */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color:none
}

/* navbar */

html {
	scroll-behavior: smooth;
    scroll-padding-top: 4vh;
}

.navBar {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 3%;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 99;
}

.navBar > img {
    height: 80%;
    object-fit: contain;
}

.links_nav_container {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
}

.links_nav_phone_container {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding-top: 5vh;
    align-items: center;
}

/* footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    align-items: center;
    height: 15vh;
    width: 100vw;
}

.footer > img {
    height: 25%;
    object-fit: contain;
}

.footer_links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-width: 250px; */
    height: 30%;
}

.footer_links > a {
    height: 100%;
}

.footer_links > a > img {
    height: 100%;
    object-fit: contain;
}

/* new css */
.fullpage {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1stpage {
    object-fit: fill;
    width: 100%;
}

.trivia {
    width: 80%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border-radius: 30px;
}

.textContainer > p {
    font-weight: bold;
}

.bottle_outside {
    width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.bottle_inside {
    max-width: 80%;
    object-fit: contain;
}

.glass {
    width: 25vh;
    position: absolute;
    object-fit: contain;
    right: 70%;
}

.product_card_bottle {
    object-fit: contain;
    height: 100%;
    border-radius: 40%;
}

.colis {
    object-fit: contain;
    height: 20%;
}

.livraison {
    object-fit: contain;
    height: 12vh;
}

.jorge {
    object-fit: contain;
    height: 25vh;
}

.logoContact {
    object-fit: contain;
    height: 15vh;
}